@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


/* Cuerpo del main */

/* body{
    background-color: #1F2339;
} */

.about-bodyBack{
    width: 100%;
    height: 100%;
    background-color: #1F2339;
}

.about-global{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* background-color: aquamarine; */
    max-width: 1400px;
    min-height: 100vh;
}


.about-color-w{
    color: #fff;
}

.about-main-superior{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 35px 0;
    max-width: 1400px;
}

.about-main-container{
    width: 85%;
    background-color: burlywood;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}


.about-main-container-caja1{
    width: 300px;
    padding: 10px;
    /* background-color: royalblue; */
}

.about-main-container-caja2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: sandybrown; */
}

.about-main-container-about-titulo{
    /* background-color: skyblue;  */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}

.about-main-container-about h1{
    display: flex;
    height: 50px;
    justify-content: center;
    font-size: 40px;
    /* background-color: seagreen; */
}

.about-main-container-about-description{
    padding: 0 22px 20px 30px;
    font-size: 23px;
    /* background-color: slateblue; */
}

.about-body-descripcion{
    padding: 10px 0;
}

.about-main-container-imagen{
    width: 100%;
    height: 100%;
    margin: 0 auto;padding: 10px;
    /* background-color: slategray; */
}

.about-main-container-imagen img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

@media screen and (max-width: 1058px){
  
    .about-main-container{
        flex-direction: column;
    }


    .about-main-container-caja1{
        width: 60%;
        padding-left: 0px;
    }

    .about-main-container-caja2{
        width: 100%;
    }

    .about-main-container-about h1{
        display: flex;
        justify-content: center;
    }
    
    .about-main-container-about p{
        padding-top: 20px;
        align-items: center;
        left: 0%;
    }

    .about-main-container-imagen{
        width: 50%;
        height: 50%;
        margin: 0 auto;
    }

    .about-main-container-imagen img{
        width: 100%;
        height: 100%;
        border-radius: 40px;
    }

    .about-main2-contacto-contenedor-global{
        flex-direction: column;
        width: 100%;
    }

    .about-main-container-about-titulo{
        height: 50px;
    }


}

/* div 2*/
.about-main2{
    color: #fff;
}

.about-hr{
    margin: 5px 0;
    width: 100%;
    height: 5px;
    background-color:cadetblue;
    border-radius: 50px;
}

.about-h1{
    padding: 20px;
    color: #fff;
    /* background-color: aqua; */
}

.about-container20{
    margin-left: 20px;
}

.about-container40{
    width: 95%;
    color: #fff;
    margin: 0 auto;
    /* background-color: chartreuse;  */
}

.about-container80{
    width: 80%;
    color: #fff;
    margin: 0 auto;
    max-width: 1300px;
     /* background-color: chartreuse; */
}

.about-subtitulo{
    display: flex;
}

.about-subtitulo img{
    color: #fff;
}

.about-fas-fa-angle{
    width: 30px;
    height: 30px;
    color: #fff;
    /* background-color: aquamarine; */
}

.about-h2{
    /* background-color: blueviolet; */
    padding-left: 5px;
}

.about-parrafo{
    /* background-color: brown; */
    margin: 20px auto;
    font-size: 21px;
}

.about-parrafo p{
    /* background-color: cadetblue; */
    margin: 20px 40px;
}

/* Cancion */

.about-muestra{
    padding: 30px;
    width: 100%;
    height: 100%;
}

.about-muestra h3{
    text-align: center;
}

.about-muestra-canciones{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.about-muestra-canciones iframe{
    width: 300px;
    height: 200px;
    padding: 20px;
 }

/* Parte Main 3 */

.about-main3{
    padding-bottom: 30px;
}

.about-container-infeior{
    width: 100%;
    color: #fff;
    /* background-color: rgb(42, 165, 124); */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.about-data-general{
    display: flex;
    margin-bottom: 20px;
}

.about-container40-izq{
    width: 50%;
    /* background-color: red; */
    min-width: 400px;
    margin: 0 auto;
    padding: 5px;
    /* border: 2px solid green; */
}

.about-data-izq{
    width: 102px;
    /* background-color: chartreuse; */
    font-size: 22px;
}

.about-data-der{
    /* background-color:cornflowerblue; */
    font-size: 22px;
}

.about-container40-der{
    width: 20%;
    min-height: 100px;
    min-width: 300px;
    /* background-color:blue; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    /* border: 2px solid green; */
}

.about-curriculum-titulo{
    width: 100%;
    height: 30%;
    margin: 0 auto;
    /* background-color:darkturquoise; */
    border-radius: 10px 10px 0 0;
}

.about-curriculum-titulo h2{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color:darkslateblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-curriculum-boton{
    width: 100%;
    height: 70%;
    margin: -5px auto;
    /* background-color: darkmagenta;  */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.about-curriculum-boton button{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background: #232833;
    border-radius: 5px;
    color: ghostwhite;
    box-shadow: 1px 1px teal;    ;
    font-size: 15px;
}

#pie-pagina{
    width: 100%;
    background-image: linear-gradient(to top, #dadada 0%, #6c9db8 100%);
}

.container-footer{
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
}

.pie-pagina{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-text{
    width: 89%;
}

.footer-text-legend{
    padding-top: 5px;
}

.footer-social-networks{
    width: 40%;
}

.social-title{
    width: 100%;
    margin-bottom: 5px;
}

.social-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 20%;
}

.return{
    width: 100%;
    height: 100%;
margin: 0 auto
}

.return-icon { 
    margin: 0 auto;
    width: 3%;
    padding: 20px;
}
